.row,
.column {
    display: flex;
    gap: 1rem;
    background-color: palegoldenrod;
    margin-bottom: 2rem;;
}

.flex-item {
    background-color: gainsboro;
    width: 300px;
    padding: 1rem;
}

/* When dealing with extra space within the container, there are two axis (main & cross)
   justify-content is the main
   align-items is the cross
*/

.row {
    justify-content: center;
    align-items: flex-start;
}

/* When rotating a flex container (to column) the axis rotate aswell 
    justify-content is now top to bottom and align-items is side to side.
*/
.column {
    flex-flow: column nowrap;
    align-items: center;
}